<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Tic Tae Toe - Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<script src="/bootstrap/css/bootstrap.js"></script>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<style>
main {
	padding: 70px;
}
</style>
</head>
<body>
	<div th:replace="fragments/header"></div>
	<div class="container">
		<div class="mt-3 d-flex justify-content-center h-100">
			<div class="card" style="height:250px; width:400px;">
				<div class="card-header">
					<h3 class="text-center">
						Game Id: <span th:text=${game.id}></span>
					</h3>
				</div>
				<br>
				<h3 class="text-center" th:if="${game.secondPlayer == null}">Waiting for Player</h3>
				<h3 class="text-center" th:if="${game.secondPlayer != null}">Start the game</h3>
				<br>
				<div class="card-body">
					<div class="input-group form-group justify-content-md-end"
						th:if="${game.secondPlayer == null}">
						<a th:href="@{/tictaetoe/{id}(id=${game.id})}"
							class="btn btn-primary disabled">Start</a>
					</div>
					<div class="input-group form-group justify-content-md-end"
						th:if="${game.secondPlayer != null}">
						<a th:href="@{/tictaetoe/{id}(id=${game.id})}"
							class="btn btn-primary">Start</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="fixed-bottom">
		<div th:replace="fragments/footer"></div>
	</div>
</body>
</html>